body {
  background-color: black;
  font-family: Arial;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 5px;
}

.js-calculation {
  color: white;
  font-size: 45px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.number,
.orange-sign,
.grey-sign {
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  font-size: 26px;
  margin-top: -14px;
  margin-left: 4px;
}

.orange-sign {
  background-color: rgb(254, 160, 10);
  color: white;
}

.number {
  color: white;
  background-color: rgb(51, 51, 51);
}

.grey-sign {
  background-color: #a5a5a5;
}
